<div class="card" style="width: 100rem;">
    <img class="card-img-top gif" src="../img/trarosalia.gif" alt="Card image cap">

    <div class="card-body">
        <h5 class="card-title">LA ROSALIA </h5>
        <p class="card-text">Rosalia Vila Tobella, conocida simplemente como Rosalía es una cantante, compositora,
            productora y actriz española.​​</p>
        <p>La Rosalia hace temazos!</p>
        <a href="./worksPage.hbs" class="btn btn-primary">T DE TRABAJITOS</a>
        <p>Q de "Qué reinona"
            R de racineta, racineta, rango, racineta, rango
            S de sata...</p>

        <a href="./galleryPage.hbs" class="btn btn-primary">P DE POSANDO </a>
    </div>
</div>