<div class="container">

    <figure> <img src="../img/2.jpg" alt="Foto rosalia"></figure>

    <div class="row">

        <div class="col-md-4">
            <article><a href="./aboutPage.hbs">ABOUT ROSALIA</a></article>
        </div>
        <div class="col-md-4">
            <article><a href="./worksPage.hbs">ROSALIAS WORKS</a> </article>
        </div>
        <div class="col-md-4">
            <article><a href="./galleryPage.hbs">LA ROSALIA POSANDO</a></article>
        </div>

    </div>
</div>