<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="../img/motomami.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">MOTOMAMI</h5>
            <p class="card-text">Anunciado el 2 de Noviembre a través de un video, MOTOMAMI es el nombre del tercer álbum de estudio de la cantante y
            compositora española, ROSALÍA, que será lanzado el 18 de marzo de 2022 a través de Columbia Records.
            
            Al igual que EL MAL QUERER, lanzado en el 2018, MOTOMAMI se convierte en un trabajo conceptual “como figura femenina que
            se construye a sí misma”, expresado por la propia ROSALÍA en su entrevista con Rolling Stone España.</p>
            
            <p class="card-text"><strong class="text-muted">”MOTOMAMI” es una energía. Es como que, yo puedo ser una MOTOMAMI, tú puedes ser una MOTOMAMI […], es una forma de
            sentirse y de estar en el mundo.</strong></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../img/malquerer.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">EL MAL QUERER</h5>
            <p class="card-text">El segundo álbum de ROSALÍA, EL MAL QUERER, incluye 11 nuevos temas. En el disco hay sonidos que van desde la seguidilla
            al tango y el fandango, que se fusionan con ritmos propios del pop o de la electrónica.
            
            Partiendo de una novela de autor anónimo del siglo XIV titulada Flamenca, ROSALÍA desarrolla su propia trama para
            entregar una obra redonda que no es solo una colección de canciones. El
            resultado es tan personal como inclasificable, y por eso ella misma reflexiona en voz alta:</p>
            <p class="card-text"><strong class="text-muted">"Es flamenco si consideras que la inspiración flamenca está suficientemente presente para encasillarlo ahí. Es pop si
            consideras que el alcance es grande o lo puede tener."</strong></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../img/losangeles.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">LOS ÁNGELES</h5>
            <p class="card-text">Los Ángeles es el primer álbum de estudio de la cantautora española Rosalía, con producción y arreglos de Raül Refree.
            Fue lanzado el 10 de febrero de 2017 por Universal Music España.
            
            Los Ángeles es un álbum conceptual que recoge una serie de cantes* que tienen como tema central la muerte.</p>
            <p class="card-text"><strong class="text-muted">"*Cante es el nombre que se da en el flamenco a las diferentes formas musicales tradicionales."</strong></p>
        </div>
    </div>
</div>